*.pyc
pretrain_models/mHuBERT/
pretrain_models/unit-based_HiFi-GAN_vocoder/
*.egg-info

# UV package manager cache
.uv-cache

# Slurm job logs
log/
pretrain_models/mHuBERT/
pretrain_models/unit-based_HiFi-GAN_vocoder/